@font-face {
    font-family: 'jura';
    src: url('../fonts/Jura-Regular.ttf');
}

@font-face {
    font-family: 'jura-bold';
    src: url('../fonts/Jura-Bold.ttf');
}

@font-face {
    font-family: 'jura-light';
    src: url('../fonts/Jura-Light.ttf');
}

.jura {
    font-family: 'jura';
}

.jura-bold {
    font-family: 'jura-bold';
}

.jura-light {
    font-family: 'jura-light';
}

h1 a {
    text-decoration: none;
}

h2 {
    color: white;
}

.nav-link {
    position: relative;
    text-decoration: none;
    color: white;
}

.nav-link::after {
    content: '';
    opacity: 0;
    transition: all 0.2s;
    height: 2px;
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-link:hover {
    color: white !important; 
}

.nav-link:hover::after {
    opacity: 1;
}

.footer {
    color: white;
    font-family: 'jura-light', sans-serif;
}

.img {
    height: 500px;
}

.img-container {
    background-color: #416788;
}

.intro-container {
    background-color: #7790A9;
}

.text-group {
    color: white
}

.header-footer-background {
    background-color: #3B4856;
}

.body-background {
    background-color: #ACBBCB;
}

/* Cursor */
.typed-cursor {
    color: white;
}

/* If fade out option is set */
.typed-fade-out {
}

.container .row .intro-container .skill-container {
    font-size: 3.5rem;
}

.skills {
    font-family: 'jura-bold';
}

.icon {
    width: 4rem;
    height: 4rem;
}

.resume-hyperlink {
    color: white;
}
