/* 
.custom-list li .icon {
    position: absolute;
    left: 0; /* Align the icon to the left
    top: 50%; /* Center the icon vertically
    transform: translateY(-50%);
    width: 16px; /* Adjust the width
    height: 16px; /* Adjust the height
    object-fit: contain; /* Ensure the image fits properly
}
 */

@font-face {
    font-family: 'rockwell';
    src: url('../fonts/ROCK.TTF');
}

@font-face {
    font-family: 'rockwell-bold';
    src: url('../fonts/Rockwell-Bold.ttf');
}

@font-face {
    font-family: 'calibri';
    src: url('../fonts/calibri-regular.ttf');
}

h1, h2, h3 {
    font-family: rockwell-bold;
}

li, p {
    font-family: calibri;
    color: #595959;
}

.img {
    height: 1rem;
    width: 1rem;
    object-fit: contain;
}

.sub-header {
    color: #007FAB;
    font-weight: bold;
}

.sub-header-alt {
    color: #595959;
    font-weight: bold;
}

hr .break {
    border-top: 1px solid #595959;
}


.white {
    color: white;
}

.white-background {
    background-color: white;
}